<div class="container col-xl-10 col-xxl-8 px-4 pb-5 ">
  <div class="row align-items-center g-lg-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-6 fw-bold lh-1 text-body-emphasis mb-3">{{ "Suscripción a noticias" | uppercase }}</h1>
      <p class="col-lg-10 fs-4">A continuación se muestra un formulario de ejemplo construido enteramente con los
        controles de formulario de Bootstrap. Cada grupo de formularios requeridos tiene un estado de validación que
        puede activarse al intentar enviar el formulario sin completarlo.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me">Recordar datos
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">{{ "Inscríbete" | uppercase }}</button>
        <hr class="my-4">
        <small class="text-body-secondary">Al hacer clic en Registrarse, acepta las condiciones de uso.</small>
      </form>
    </div>
  </div>
</div>