<div class="pt-5 mt-5 text-center border-bottom">
  <h1 class="display-5 fw-bold text-body-emphasis">Bienvenidos App grupal</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 pt-3 pb-5">En esta actividad grupal, nos sumergiremos en el emocionante mundo del desarrollo
      frontend utilizando Vue.js. Vue.js es un framework progresivo que nos permite construir interfaces de usuario de
      manera eficiente y modular.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button routerLink="about" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">{{ botonUno | uppercase }}</button>
      <button routerLink="formularios" type="button" class="btn btn-outline-secondary btn-lg px-4">{{ botonDos | titlecase }}</button>
    </div>
  </div>
  <div class="overflow-hidden" [style]="estilosEnLinea">
    <div class="container px-5 pb-4">
      <img src="../assets/imgs/img bootstrap.png" class="img-fluid border rounded-3 shadow-lg mb-4" [title]=" tituloImagen"
        width="700" height="500" loading="lazy" />
    </div>
  </div>
</div>